@import url("https://fonts.googleapis.com/css?family=Roboto");
.App {
  font-family: 'Roboto', sans-serif;
  text-align: center; }

.product img {
  max-height: 95px; }

.product .left {
  width: 50%;
  float: left; }

.product .right {
  width: 50%;
  float: right; }

.product .price {
  display: block; }
