@import url('https://fonts.googleapis.com/css?family=Roboto');
.App {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.form-horizontal {
  padding-top: 10px;
  padding-bottom: 10px;
}

@import 'Product/Product.scss';
@import 'Cart/Cart.scss';
