.product {
    img {
        max-height: 95px;
    }
    .left {
        width: 50%;
        float: left;
    }
    .right {
        width: 50%;
        float: right;
        overflow: auto;
    }
    .price {
        display: block;
    }

}
